#base {
    background-color: #112432;
    height: 50px;
    width: auto;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    position: relative;
    float: left;
    border: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
#icon{
    height:30px;
}