div {
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
}
#wrapper {
    box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px 15px 15px 15px;
}
#TaskBar&title {
    position: relative;
    width: 100%;
    float: left;
    height: auto;
    margin: 0px;
    border: 0px;
}
ProjectOverview {
    position: relative;
    width: 100%;
    float: left;
    display: inline-block;
    margin: 0px;
    border: 0px;
}
TaskBar {
    width: 100px;
}